[MASTER]
load-plugins = pylint.extensions.docparams, pylint.extensions.docstyle, pylint.extensions.mccabe,

[BASIC]
default-docstring-type = google

[FORMAT]
max-line-length = 88
max-args = 8

[MESSAGES CONTROL]
disable = C0330, C0326, C0199, C0411, C0209, C0303, W9012, W9011, R0903, E0401, W0707, W9015, W0511, W9016, R0201